body {
    text-align: center;
}

#header {
    background-color: lightgray;
    text-align: center;
    height: 20%;
    width:100%;
    top: 0%;
    border-bottom: 1px solid black;
    z-index: 1;
}